<!DOCTYPE html>
<html>
<head>
  <title>JpmobileTest</title>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
